body .contattami-page {
  background: url("../assets/sfondo.avif") no-repeat center center fixed;
  padding-top: 4rem;
}

.contattami-page {
  min-height: 100vh;
  padding: 2rem;
  color: white;
  text-align: center;
}

.contattami-page h2 {
  color: #4173e8;
}

.contattami-page .form-control {
  border-radius: 8px;
  border: 1px solid #aabeef;
}

.contact-info {
  margin-bottom: 2rem;
}

.contact-info p {
  margin: 0.3rem 0;
}
